<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAu8m_IUzNny9Oa-i29SA754H5KPJWh4Mg</string>
	<key>GCM_SENDER_ID</key>
	<string>47634091163</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pingWave</string>
	<key>PROJECT_ID</key>
	<string>pingwave-ca4da</string>
	<key>STORAGE_BUCKET</key>
	<string>pingwave-ca4da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:47634091163:ios:6a4138746219a1d5d14a3e</string>
</dict>
</plist>